<html>

    <head>
        <h2> User No: {{id}}</h2>
    </head>
    
    <header>
        <!---covid 19 title-->
        <div class="text-center">
            <img 
            class="img-fluid"
            src="https://firebasestorage.googleapis.com/v0/b/covid19-69f30.appspot.com/o/covid.png?alt=media&token=42896101-32af-484d-b0ee-a5a2eb8f7e0a" 
            alt="covid" >
            <h1>COVID19</h1>
        </div>
    

        <div *ngIf="isSignedUp" class="col-sm-6">
            <h3>{{user.displayName}}</h3>
        </div>
        <ul class="nav nav-pills">
            
            <div *ngIf="isSignedUp"class="nav-item">
                <button class="btn btn-danger" (click)="covid19Service.signOut()">Sign Out</button>
            </div>
            <div *ngIf="!isSignedUp" class="nav-item">
                <button class="btn btn-info" (click)="covid19Service.signInWithGoogle()">sign in with google</button>
            </div>
            <div class="nav-item">
                <button class="btn btn-info" (click)="covid19Service.addNews()">Add news</button>
            </div>
            <div class="nav-item">
                <button class="btn btn-info" (click)="covid19Service.goToMainPage()">Main Page</button>
            </div>
        </ul>
    </header>
    <body >
        
        <h3>Corona Virus Summary {{country_page.Country}}</h3>
        <!--table chart-->
        <table class="table table-bordered table-striped center" >
            
            <tbody *ngIf="isDataLoaded">
                <tr>
                    <th class="table-warning"  scope="row">Total Cases</th>
                    <td class="table-warning"  >{{country_page.TotalConfirmed}}</td>
                </tr>
                <tr>
                    <th class="table-warning"  scope="row">New Cases</th>
                    <td class="table-warning"  >{{country_page.NewConfirmed}}</td>
                </tr>
                <tr>
                    <th class="table-warning"  scope="row">Active Cases</th>
                    <td class="table-warning"  >{{country_page.ActiveCases}}</td>
                </tr>
                <tr>
                    <th class="table-primary" scope="row">Total Recovered</th>
                    <td class="table-primary" >{{country_page.TotalRecovered}}</td>
                </tr>
                <tr>
                    <th class="table-primary" scope="row">New Recovered</th>
                    <td class="table-primary" >{{country_page.NewRecovered}}</td>
                </tr>
                <tr>
                    <th class="table-primary" scope="row">Recovery Rate</th>
                    <td class="table-primary">{{country_page.RecoveryRate}}%</td>
                </tr>
                <tr>
                    <th class="table-danger" scope="row">Total Deaths</th>
                    <td class="table-danger" >{{country_page.TotalDeaths}}</td>
                </tr>
                <tr>
                    <th  class="table-danger" scope="row">New Deaths</th>
                    <td class="table-danger">{{country_page.NewDeaths}}</td>
                </tr>
                <tr>
                    <th class="table-danger" scope="row">Mortality Rate</th>
                    <td class="table-danger">{{country_page.MortalityRate}}%</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!isDataLoaded">
            <p>information not loaded (surely because firebase quota exceeded)</p>
        </div>
         
         <!--pie chart-->
        <h3>Corona Virus Cases Distribution in {{country_page.Country}}</h3>
        <div *ngIf="isDataLoaded" class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
        <div *ngIf="!isDataLoaded">
            <p>information not loaded (surely because firebase quota exceeded)</p>
        </div>
        

        
        <!--bar chart-->
        <h3>Daily Corona Virus Cases in {{country_page.Country}}</h3>
        <div *ngIf="lackOfInfo" lass="chart-wrapper" >
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
        <div *ngIf="!lackOfInfo" lass="chart-wrapper">
            <h1 class="text-center">sorry the seven earlier days data are missing</h1>
        </div>

        <!--line chart-->
        <h3>Total Corona Virus Cases in {{country_page.Country}}</h3>
        <div  class="chart-wrapper">
            <canvas baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
    
        <!--news tab-->
        <h3>News in {{country_page.Country}}</h3>
        <div class="my-3">
            <table *ngIf="isNewsLoaded" datatable class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>user name</th>
                        <th>user email</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let new of countryNews " >
                        <td>{{new.userName}}</td>
                        <td>{{new.userEmail}}</td>
                        <td>{{new.date}}</td>
                        <td>{{new.description}}</td>
                        <td>{{new.country}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!isNewsLoaded">
            <p>information not loaded (surely because firebase quota exceeded)</p>
        </div>
    </body>
    <footer id = "footer">
        <p><a href="https://covid19api.com/" title="covidapi">Data Source: Johns Hpkins CSSE</a></p>
    </footer>
</html>
