<html>
    <head>

    </head>
    
    <header>
        <!---créer une navbar avec signin/signout-->
        <div *ngIf="isSignedUp" class="col-sm-6">
            <h3>{{user.displayName}}</h3>
        </div>
        
        
        <p id="countryname"></p>
        <ul class="nav nav-pills">
            <div *ngIf="!isSignedUp" class="nav-item">
                <button class="btn btn-info" (click)="covid19Service.signInWithGoogle()">sign in with google</button>
            </div>
            <div class="nav-item">
                <button class="btn btn-info" (click)="covid19Service.addNews()">Add news</button>
            </div>
            <div *ngIf="isSignedUp" class="nav-item">
                <button class="btn btn-danger" (click)="covid19Service.signOut()">Sign Out</button>
            </div>
        </ul>

        <div class="text-center">
            <img 
            style= "width: 5% "
            src="https://firebasestorage.googleapis.com/v0/b/covid19-69f30.appspot.com/o/covid.png?alt=media&token=42896101-32af-484d-b0ee-a5a2eb8f7e0a" 
            alt="covid" >
            <h1>COVID19</h1>
        </div>
    </header>
    <body *ngIf="isDataLoaded">
        
        <h1>Users</h1>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Total Cases</th>
                    <th>New Cases</th>
                    <th>Active Cases</th>
                    <th>Total Recovered</th>
                    <th>New Recovered</th>
                    <th>Recoversy Rate</th>
                    <th>Total Deaths</th>
                    <th>New Deaths</th>
                    <th>Mortality Rate</th>
                </tr>
            </thead>
            <tbody >
                <tr >
                    <td >{{global.TotalCases}}</td>
                    <td>{{global.NewCases}}</td>
                    <td>{{global.ActiveCases}}</td>
                    <td>{{global.TotalRecovered}}</td>
                    <td>{{global.NewRecovered}}</td>
                    <td>{{global.RecoveryRate}}</td>
                    <td>{{global.TotalDeaths}}</td>
                    <td>{{global.NewDeaths}}</td>
                    <td>{{global.MortalityRate}}</td>
                </tr>
            </tbody>
        </table>

        <!--
        <div 
        data-chart="bar"
        data-dataset-label="Traffic"
        data-labels="['DeadCases', 'RecoveredCases','ActiveCases']"
        data-dataset-label="[{{global.TotalDeaths}},{{global.TotalRecovered}},]"></div>>
        -->
        <!--bar chart-->
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>

        <!--pie chart-->
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
        </div>

        <!--line chart-->
        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
        </div>

        <!--pour 7 derniers jours charts https://api.covid19api.com/world?from=2020-12-31T00:00:00Z&to=2021-07-01T00:00:00Z-->
        <!--pour since 13 april chart https://api.covid19api.com/world?from=2020-12-31T00:00:00Z&to=2021-07-01T00:00:00Z-->

        
        <table datatable class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="name">Country</th>
                    <th scope="col" sortable="name">New cases</th>
                    <th scope="col" sortable="name"> Total Cases</th>
                    <th scope="col" sortable="name">New recoveries</th>
                    <th scope="col" sortable="name">Total recoveries</th>
                    <th scope="col" sortable="name">New deaths</th>
                    <th scope="col" sortable="name">Total deaths</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries">
                    <td scope="row" routerLink="/COVID19-per-country/{{country.Slug}}">{{country.Slug}}</td>
                    <td>{{country.NewConfirmed}}</td>
                    <td>{{country.TotalConfirmed}}</td>
                    <td>{{country.NewRecovered}}</td>
                    <td>{{country.TotalRecovered}}</td>
                    <td>{{country.NewDeaths}}</td>
                    <td>{{country.TotalDeaths}}</td>
                </tr>
            </tbody>
        </table>

        <!--NEWS-->
        <div class="my-3">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>user name</th>
                        <th>user email</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let new of worldWideNews">
                        <td>{{new.userName}}</td>
                        <td>{{new.userEmail}}</td>
                        <td>{{new.date}}</td>
                        <td>{{new.description}}</td>
                        <td>{{new.country}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer id = "footer">
        <p href="https://covid19api.com/"> Data Source: Johns Hpkins CSSE</p>
    </footer>
    <!--- ajouter commentaire + pour l'eligibilité créer un varibale eligible --->

</html>